<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Show Result</h1>
    <p>Accout:<%= account%></p>
    <p>Password:<%= pass%></p>
  </body>
</html>
